certifi==2019.6.16
Cython==0.29.13
decorator==4.4.0
entrypoints==0.3
Flask==1.1.0
gast==0.2.2
google-pasta==0.1.7
gunicorn==19.9.0
h5py==2.9.0
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
numpy==1.17.0

webencodings==0.5.1
Werkzeug==0.15.4
